#Yo {
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 5px;
    width: 250px;
  }
body{
    background-color: #e6f4f1;
    color: #464555;
}
#Nombre{
    text-align: center;
}
h2{
    font-size: 22pt;
    padding-top: 2%;
    text-align: center;
}
#Presentacion{
    font-size: 15pt;
    padding-top: 2%;
    padding-left: 10%;
    gap: 5em;
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    line-height: 30pt;
}
#Hobbies{
    gap: 3em;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    font-size: 16pt;
    padding-left: 10%;
    line-height: 30pt;
}
#SM64{
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 5px;
    width: 250px;
    height: 200px;
}
#OnePiece{
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 5px;
    width: 200px;
    height: 250px;
}
#Luffy{
    padding-left: 50%;
}
#Canciones{
    display: flex;
    flex-direction: row;
    padding-left: 27%;
    padding-top: 2%;
    line-height: 30pt;
    font-size: 16pt;
}